.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: Arial, sans-serif;
  padding: 20px;
}

body{
  background-color: #2E4457;
}

.input-container {
  display: flex; 
  justify-content: center; 
  margin-bottom: 20px;
  flex-wrap: wrap; 
}

.input-container input {
  margin: 0 10px; 
  padding: 10px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  width: 200px;
  min-width: 150px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.results-container {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  max-width: 1200px;
  flex-wrap: wrap;
  
}

.exact-matches, .possible-matches {
  flex: 1;
  min-width: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 15px;
  max-height: 610px;
  overflow-y: auto;
  font-size: 14px;
  position: relative;
  background-color: #112B41;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  
}

.headers {
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick to the top of the section */
  background: linear-gradient(to right, #327FBE, #6BBD57);
  color: white; /* Header text color */
  z-index: 1; /* Ensure it stays above other content */
  padding: 1px; /* Add some padding for aesthetics */
  text-align: center;
  font-size: 18px;
}

.primary-information {
  padding: 10px;
  padding-bottom: 10px;
  padding-right: 10px; /* Creates space for the scrollbar */
  max-height: calc(100% - 100px); /* Adjusts for header and footer height */
  overflow-y: auto;
}

.footer {
  position: sticky;
  bottom: 0;
  background: #112B41;
  color: #112B41;

}

.no-matches {
  text-align: center;
  color: #888;
  font-style: italic;
  margin-top: 20px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}



.card {        
  border-Radius: '20px';
  padding: '20px';
  margin: 10;
  border: 1;
}
.details {
  margin-Top: '5px';
  padding: '20px';
  border: '1px solid #ddd';
  border-Radius: '5px';
  background-Color: '#fff';
}
.hide {
  background-Color: 'transparent';
  color: 'white';
  border: 'none';
  text-Decoration: 'underline';
  cursor: 'pointer';
}


.card {        
  border-Radius: '20px';
  padding: '20px';
  margin: 10;
  border: 1;
}
.details {
  margin-Top: '5px';
  padding: '20px';
  border: '1px solid #ddd';
  border-Radius: '5px';
  background-Color: '#fff';
}
.hide {
  background-Color: 'transparent';
  color: 'white';
  border: 'none';
  text-Decoration: 'underline';
  cursor: 'pointer';
}



